<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <!-- Event Binding Example -->
      <form [formGroup]="reactiveForm" (ngSubmit)="submitForm()">
        <div style="text-align: center" class="mb-5 mt-5">
          <h2>
            <!-- String Interpolation Example -->
            <b>{{ formHeading }}</b>
          </h2>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="mb-3">
              <label for="firstname" class="form-label"
                >First Name <span style="color: red">*</span></label
              >
              <!-- Property Binding can be used with Input like this  -->
              <input
                type="firstname"
                class="form-control"
                id="firstname"
                [formControlName]="'firstname'"
              />
              <small
                *ngIf="
                  reactiveForm.get('firstname').touched &&
                  reactiveForm.get('firstname').invalid
                "
                style="color: red"
                >First Name is Required.</small
              >
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="mb-3">
              <label for="lastname" class="form-label">Last Name</label>
              <input
                type="lastname"
                class="form-control"
                id="lastname"
                [formControlName]="'lastname'"
              />
              <small
                *ngIf="reactiveForm.get('lastname').touched"
                style="color: green"
                >Last Name is Optional.</small
              >
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="username" class="form-label"
            >Username <span style="color: red">*</span></label
          >
          <input
            type="username"
            class="form-control"
            id="username"
            formControlName="username"
            [(ngModel)]="credential.username"
          />
          <small
            *ngIf="
              reactiveForm.get('username').touched &&
              reactiveForm.get('username').invalid
            "
            style="color: red"
          >
            Min Length - 3 && Max Length - 9</small
          >
        </div>
        <div class="mb-3">
          <label for="password" class="form-label"
            >Password <span style="color: red">*</span></label
          >
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
            [(ngModel)]="credential.passowrd"
          />
          <small
            *ngIf="
              reactiveForm.get('password').touched &&
              reactiveForm.get('password').invalid
            "
            style="color: red"
            >Min length - 6 && Max Length -15.</small
          >
        </div>
        <div class="mb-3">
          <label for="email" class="form-label"
            >Email <span style="color: red">*</span></label
          >
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
          />
          <small
            *ngIf="
              reactiveForm.get('email').touched &&
              reactiveForm.get('email').invalid
            "
            style="color: red"
            >Invalid Email.</small
          >
        </div>
        <!-- Property Binding Example -->
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="reactiveForm.invalid"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
